@font-face { font-family: 'latob'; src: url('../fonts/Lato-Bold.ttf'); }
@font-face { font-family: 'latosb'; src: url('../fonts/Lato-Semibold.ttf'); }
@font-face { font-family: 'latom'; src: url('../fonts/Lato-Medium.ttf'); }
@font-face { font-family: 'lator'; src: url('../fonts/Lato-Regular.ttf'); }
@font-face { font-family: 'latobl'; src: url('../fonts/Lato-Black.ttf'); }

:root{
    --white:#fff; 
    --black:#000;
    --grey: #3A3B3F;
    --placeholder:  #A1A1A6;
}
body {
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
 	  font-size: 18px;
  	font-family: lator, sans-serif;
    color: var(--grey);
    color: #3A3B3F;
  	overflow-x: hidden;
}
#contents{
  transition: 0.4s linear;
}
html, body{
  	min-height: 100%;
}
a, a:hover{
  	color:  #565682;
}
h1,h2,h3,h4,h5,h6,p,a,hr, * {
  	margin: 0;
  	padding: 0;
}
h1, h2, h3, h4, h5, h6, b, strong{
  	font-family: latob, sans-serif;
  	font-weight: normal;
}
strong{
	font-weight: normal;
}
button, a {
  	outline: none !important;
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
ul, li
{
  	padding: 0;
  	margin: 0;
}
.text-red{
  color: red;
}
.modal-open{
    overflow: hidden;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
}
.modal-body {
    overflow: scroll; 
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
}
input:hover, button:hover, input:focus, button:focus{
    outline: none;
}
input[type="radio"]{
    -webkit-appearance: radio;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-control[readonly] {
    border: none !important;
    background: #EDEDED;
}
.form-group{
    position: relative;
    z-index: 2;
}
a, button {text-decoration: none !important;transition: 0.4s linear;}
img{
    /*height: auto;*/
    width: auto;
    max-width: 100%;
}
select{
  appearance: none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  cursor: pointer;
}
select::-ms-expand {
    display: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--placeholder);
  color:  #A1A1A6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--placeholder);
  color:  #A1A1A6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--placeholder);
  color:  #A1A1A6;
}
.mobile_view{
    display: none !important;
}
.bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section {
    padding: 30px 0px;
}



/*responsive menu*/
ul.res-navbar-nav li a {
    transition: 0.4s linear;
}
.sideoff-off {
    top: 0;
    right: 15px !important;
    left: 15px;
    background-color: #FFFFFF;
    width: calc(100% - 30px);
    margin: 0px auto;
    z-index: 9999 !important;
    overflow: hidden !important;
    display: none;
    position: fixed;
    border-radius: 3px;
    opacity: 0;
    transition: 0.6s;
    overflow-Y: auto !important;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
    padding:10px;
}
.sideoff-off.visible {
    opacity: 1;
    top: 15px;
    display: inline-block;  
    max-height: 95vh;  
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    overflow:hidden !important;
}
.navbar-toggle {
    position: relative;
    float: right;
    font-size: 22px;
    color: #000;
    display: none;
    margin-right: 10px;
}
.navbar-toggle:hover {
    color: #555252;
}
.noscroll {
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
}
ul.nav.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: visible;
    /*overflow-y: hidden;*/
    flex-direction: row;
    flex: 1;
    -webkit-overflow-scrolling: touch;
}
ul.nav.nav-tabs li {
    flex: 0 0 auto;
}

/* equal height */
.equal_height {
    box-sizing: border-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.equal_height > .equal_height_container {
    display: flex;
    width: 100%;
}
.equal_height > .equal_height_container > div{
    width: 100%;
}


/* animation effect */
.animation {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: initial;
    animation-timing-function: linear;
}
@keyframes rotateleft{
  0%{
      transform: rotate(0deg);
    }
    50%{
      transform:  rotate(180deg);
    }
    100%{
      transform:  rotate(360deg);
    }
}
.rotateleft{
  animation-name: rotateleft;
}

@keyframes rotateright{
  0%{
      transform: rotate(0deg);
    }
    50%{
      transform:  rotate(-180deg);
    }
    100%{
      transform:  rotate(-360deg);
    }
}
.rotateright{
  animation-name: rotateright;
}

@keyframes zoomin{
  0%{
      transform: scale(0.4);
    }
    50%{
      transform:  scale(1);
    }
    100%{
      transform:  scale(0.4);
    }
}
.zoomin{
  animation-name: zoomin;
}
@keyframes wave{
    0%{
      transform: translateY(0px) scale(1);
    }
    50%{
      transform: translateY(-15px) scale(1.1);
    }
    100%{
      transform: translateY(0px) scale(1);
    }
}
.wave{
  animation-name: wave;
}
@keyframes slidedown{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(15px);
    }
    100%{
      transform: translateY(0px);
    }
}
.slidedown{
  animation-name: slidedown;
}

@keyframes slideup{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-15px);
    }
    100%{
      transform: translateY(0px);
    }
}
.slideup{
  animation-name: slideup;
}

@keyframes slideright{
    0%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(30px);
    }
    100%{
      transform: translateX(0px);
    }
}
.slideright{
  animation-name: slideright;
}

@keyframes slideleft{
    0%{
      transform: translateX(0px);
    }
    50%{
      transform: translateX(-30px);
    }
    100%{
      transform: translateX(0px);
    }
}
.slideleft{
  animation-name: slideleft;
}

@keyframes bubbletop{
  0%{
      transform: translateY(20px) scale(0.4);
    }
    50%{
      transform: translateY(-20px) scale(0.8);
    }
    100%{
      transform: translateY(-60px) scale(1.1);
    }
}
.bubbletop{
  animation-name: bubbletop;
}

@keyframes shake{
  0%{
      transform: rotate(-5deg);
    }
    50%{
      transform: rotate(35deg);
    }
    100%{
      transform: rotate(-5deg);;
    }
}
.shake{
	animation-name: shake;
}
.tab-pane.active {
    animation: slide-bottom 1s ease-out;
}
@keyframes slide-bottom {
    0% { opacity: 0; transform: translateY(-15px); }
    100% { opacity: 1; transform: translateX(0); }
}


/********************** slim scroll **************************/
/********************** slim scroll **************************/
/********************** slim scroll **************************/
/********************** slim scroll **************************/
.slim-scroll::-webkit-scrollbar-track, #sidebar ul.components::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0;
  background-color: rgb(138 147 167);
}
.slim-scroll::-webkit-scrollbar, #sidebar ul.components::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}
.slim-scroll::-webkit-scrollbar-thumb, #sidebar ul.components::-webkit-scrollbar-thumb
{
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #0fb2ab;
}


/* hover effect */
/* Underline From Center */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
   content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2f5596;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left.active:before {
  left: 0;
  right: 0;
}

/* form control */
label{
  	font-size: 14px;
  	font-family: latosb, sans-serif;
    color: #565682;
}
.form-control{
    background: #FFFFFF;
    border: 1px solid #565682;
    /*border-radius: 8px;*/
  	font-size: 16px;
  	padding: 5px;
}
.form-control:focus, .auth_box .form-control:focus, .setting_box .form-control:focus{
  	box-shadow: none;
  	border:1px solid #2F5596;
}
.without_border {
    border: none;
    box-shadow: 0 10px 60px -5px rgba(0,0,0,0.05);
}

.icon_control{
	  background-size: 14px;
    background-position: 97%;
    padding-right: 30px;
    background-repeat: no-repeat;
}
.add_control {
    background-image: url(../images/location.png);   
}
.pass_control {
   	background-image: url(../images/ic_eye.png);
}
.date_control {
   	background-image: url(../images/ic_calendar.png);
}
.time_control{
	background-image: url(../images/watch_black.png);
}
.dropdown_control {
   	background-image: url(../images/ic_down.png);
}
.search_control {
   	background-image: url(../images/ic_search_small.png);
}
.file_group input.form-control[readonly] {
    border: 1px solid #CCCCCC !important;
    background-color: #FAFAFA;
}
button.file_btn {
    width: 100px;
    background: #2F5596;
    border-radius: 4px;
    border: none;
}
input.file_control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 100px;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
    opacity: 0;
        z-index: 1;
    padding-top: 50px;
    cursor: pointer;
}
button.file_upload_btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 100px;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
    border: none;
    background-image: linear-gradient(135deg, #120052 0%, #FF073A 100%);
    transition: 0.4s linear;
     z-index: 0;
}
button.file_upload_btn img {
    transition: 0.4s linear;
}
button.file_upload_btn:hover img {
    transform: translateY(-5px);
}
a.underline {
    text-decoration: underline !important;
}

/* datepicker design */
.datepicker th, .datepicker td {
    padding: 3px 10px;
}
.datepicker {
    padding: 0;
}
.datepicker th.prev:hover, .datepicker th.next:hover, .datepicker td.active, .datepicker .datepicker-days td:hover,
.datepicker th.datepicker-switch:hover, .datepicker .active,.datepicker table tr td span:hover, 
.datepicker table tr td span.focused {
    background: none !important;
    background-color: #ab0543 !important;
    color: #fff !important;
    
}
.datepicker th.dow {
    border-radius: 0;
    background-color:#ab0543;
    color:#fff;
}



/* theme btn design */
.theme_btn {
    line-height: 38px;
    padding: 0 15px;
    text-align: center;
    vertical-align: middle;
    transition: 0.4s linear;
    display: inline-block;
    font-family: latob, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background: #0FB2AB;
    border: 2px solid #0FB2AB;
    box-shadow: 0 8px 15px 5px rgba(15,178,171,0.18);
    border-radius: 4px;
    
}
.theme_btn:hover {
    background-color: #fff;
    color: #0FB2AB;
}
.small_btn {
    /*min-width: 140px;*/
    font-size: 16px;
}
.full_width {
    width: 100%;
    max-width: auto;
    min-width: 20px;
}
.red_btn {
    background: #EC4C47;
    border: 2px solid #EC4C47;
    box-shadow: 0 8px 15px 5px rgba(236,76,71,0.20);
}
.red_btn:hover{
    color: #EC4C47;
}
.min_btn {
    font-size: 12px;
    min-width: 100px;
    height: 30px;
    line-height: 14px;
}
button.theme_btn.full_width.small_btn {
    float: right;
    min-height: 40px;
    line-height: 1.4;
    height: auto;
    width: calc(100% + 20px);
    padding: 0 5px;
}

/* theme table */
.theme_table {
    background: #FFFFFF;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.08);
    border-radius: 8px;
    overflow: hidden;
}
table {
    width: 100%;
}
.theme_table th, .theme_table td {
    padding: 11px 8px;
    font-size: 15px;
    font-weight: normal;
    color: #3A3B3F;
    border-bottom:  1px solid #E4E7EB;
}
.theme_table td {
    font-size: 14px;
    font-family: latosb;
}
td.action img {
    max-height: 16px;
}
td.action a {
    margin: 0 5px;
}
th .action {
    width: 85px;
    margin: 0;
}

/* ==============
  Loader
===================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 238, 0.66);
  z-index: 9999999;
  transition: 0.4s linear;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 53%;
  margin: -20px 0 0 -20px;
}

.spinner {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 50%;
  margin-left: -39px;
  margin-top: -39px;
}

.spinner:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  margin-top: -23px;
  left: 50%;
  margin-left: -23px;
  border-width: 2px 1px;
  border-style: solid;
  border-color: #2682df;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: spin 3.45s infinite;
  -o-animation: spin 3.45s infinite;
  -ms-animation: spin 3.45s infinite;
  -webkit-animation: spin 3.45s infinite;
  -moz-animation: spin 3.45s infinite;
}
.spinner:after {
  content: '';
  background-color: #2682df;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  /*background-color: $primary;*/
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  50% {
    -o-transform: rotate(360deg);
  }
  100% {
    -o-transform: rotate(1080deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  50% {
    -ms-transform: rotate(360deg);
  }
  100% {
    -ms-transform: rotate(1080deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(1080deg);
  }
}


/* Login page */
.auth_container {
    background: #EDEFF2;
    box-shadow: 0 0 60px 30px rgba(0,0,0,0.05);
    min-height: 100vh;
    padding: 50px 0px;
}
img.login_logo {
    margin-bottom: 10px;
    max-height: 124px;
}
.auth_box {
    background: #FFFFFF;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.08);
    border-radius: 16px;
    width: 770px;
    margin: 0 auto;
    max-width: 100%;
    padding: 30px;
    position: relative;
}
.login_botton_shape {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.auth_box h1 {
    text-align: center;
    font-family: latob;
    font-size: 36px;
    color: #212145;
    margin-bottom: 20px;
}
.auth_link {
    font-family: latosb;
    font-size: 16px;
    color: #565682;
    text-decoration: underline !important;
    margin-top: 20px;
    display: inline-block;
}
.auth_btn {
    margin-top: 20px;
}
.error_msg {
    font-family: latosb;
    font-size: 14px;
    color: #EC4C47;
    margin-top: 4px;
}
.green_msg {
    font-family: latosb;
    font-size: 14px;
    margin-top: 4px;
    color: #0FB269;
}
.process_msg {
    margin-top: 20px;
    margin-bottom: 20px;
}
.process_msg p.or {
    margin: 10px 0px;
}
.auth_text {
    font-size: 16px;
    color: #565682;
    letter-spacing: 0.49px;
    text-align: center;
    margin: 10px 0;
}
/***************  scrolling tab  ************************/
.theme_tab ul {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    flex: 1;
    -webkit-overflow-scrolling: touch;
}
.theme_tab ul li {
    flex: 0 0 auto;
    margin-bottom: 0 !important;
}

/* theme tab */
.title {
    font-family: latob;
    font-size: 22px;
    color: #565682;
    margin-bottom: 15px;
}
.white_box {
    background: #FFFFFF;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.08);
    border-radius: 16px;
    overflow: hidden;
}
.theme_tab .nav-link {
    font-family: latosb;
    font-size: 16px;
    color: #212145;
    border: none;
}
.theme_tab .nav-link.active {
    border: none;
    border-bottom: 1px solid #0FB2AB;
}
.theme_tab .nav-link {
    border: none;
}
.theme_tab .nav-tabs {
    padding: 0 15px;
}
.theme_tab .tab-content {
    padding: 40px 15px;
}
.profile_box {
    display: inline-block;
    position: relative;
}
.profile_pic {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 3px solid #565682;
    display: flex;
    box-shadow: 0 21px 30px 4px rgba(0,0,0,0.32);
}
.profile_pic img{
  max-height: 140px;
}
.edit_pencile {
    position: absolute;
    height: 30px;
    width: 30px;
    background: #FFFFFF;
    border: 1px solid #565682;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    bottom: 20px;
    right: -6px;
}
.edit_pencile input[type="file"] {
    position: absolute;
    opacity: 0;
    padding-top: 30px;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.edit_pencile img {
    max-height: 15px;
}
.profile_name {
    font-family: latosb;
    font-size: 18px;
    color: #3A3B3F;
    letter-spacing: 0.64px;
    margin-top: 15px;
}
p.profile_mail {
    font-size: 16px;
    color: #616161;
    letter-spacing: 0.58px;
    margin-top: 4px;
}
.profile_info_container {
    margin: 30px 0px 20px;
    background-color: #F7F8FB;
    padding: 10px 10px 0;
}
p.value {
    font-family: latosb;
    color: #565682;
    letter-spacing: 0.64px;
}
.theme_tab .tab-content .theme_btn {
    margin: 3px;
}

/* theme modal */
.theme_modal .modal-dialog {
    width: 700px;
    max-width: 95%;
}
.theme_modal .modal-content {
    background: #FFFFFF;
    border-radius: 16px;
    border: none;
    overflow: hidden;
}
.theme_modal .modal-content .modal-body {
    padding: 40px;
    position: relative;
}
.theme_modal img.modal_top_bg {
    position: absolute;
    top: 0;
    right: 0;
}
.theme_modal button.close {
    position: absolute;
    top: 13px;
    right: 13px;
    z-index: 99;
    opacity: 1;
}
.theme_modal .modal-title {
    font-size: 32px;
    color: #212145;
    text-align: center;
    margin-bottom: 20px;
}
.modal_btn {
    margin-top: 30px;
}
.profile_inner_title {
    font-size: 18px;
    color: #3A3B3F;
    letter-spacing: 0.7px;
    margin-bottom: 12px;
}
table.profile_table {
    width: 100%;
    vertical-align: top;
}
table.profile_table td {
    vertical-align: top;
    padding-bottom: 20px;
}
table.profile_table td a {
    text-decoration: underline !important;
    color: #3093F3;
}
.profile_info_container .form-control {
    border: none;
}
.upload_file {
    position: relative;
    overflow: hidden;
}
.upload_file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 40px;
    cursor: pointer;
    opacity: 0;
}
img.close_img {
    max-height: 20px;
    cursor: pointer;
}

/* notification screen */
.notification_dropdown .dropdown-menu {
    width: 300px;
    background: #FFFFFF;
    border-radius: 16px;
    border-bottom: 5px solid  #0FB2AB;
}
.notification_dropdown li p.noti_pere {
    font-size: 13px;
    color: #3A3B3F;
    letter-spacing: 0.46px;
    width: calc(100% - 18px);
}
.notification_dropdown li {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    box-shadow: 0 1px 0 0 #EDEFF2;
    margin: 0 !important;
    width: 100%;
}
.notification_dropdown li .close_noti {
    width: 16px;
    cursor: pointer;
}
.notification_dropdown li:last-child {
    box-shadow: none;
}
.noti_pera_img {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;
}
.noti_single {
    padding: 10px;
    box-shadow: 0 1px 0 0 #DCE1EE;
    transition: 0.4s linear;
}
.noti_pera_img .close_noti {
    width: 17px;
    cursor: pointer;
}
.noti_pera_img p.noti_pera {
    width: calc(100% - 19px);
}
.date_time_span span {
    font-family: latom;
    font-size: 14px;
    color: #616161;
    letter-spacing: 0.4px;
    margin-left: 15px;
}
.noti_single:hover {
    background: rgba(220, 225, 238, 0.2);
}
.title span {
    color: #A0A1BB;
}

.upload_pic_link {
    text-align: center;
    margin: 20px 0px;
}
.upload_pic_link a {
    font-family: latosb;
    font-size: 18px;
    color: #0FB2AB;
    text-decoration: underline !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.upload_pic_link input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    opacity: 0;
    cursor: pointer;
}
td.status span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 10px;
}
.active_status span {
    color: #47B881;
}
.pending_status span {
    color: #F7D154;
}
.disable_status span {
    color: #EC4C47;
}


.white_box form .text-center, form#edit-education-plan .text-center  {
    margin-top: 20px;
}
table.color_table select.dropdown_control {
    background-color: #fff;
}


/* loginAs design */
.sticky_login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    background-color: #EDEFF2;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky_login p {
    color: #565682;
    font-size: 16px;
    font-family: latosb;
}
.wrapper.loginAs #sidebar {
    top: 52px;
}
.wrapper.loginAs .navbar {
    top: 52px;
}
.wrapper.loginAs #content {
    padding-top: 126px;
}
form {
    padding: 20px 15px;
}
form button.theme_btn {
    margin: 5px;
}
.auth_box .text-center {
    margin-top: 20px;
}
.doubt_pic_name {
    display: flex;
    align-items: center;
}
.doubt_pic_name .doubt_user_name {
    display: inline-block;
    width: calc(100% - 55px);
    padding-left: 10px;
}
.doubt_pic img {
    max-height: 500px;
}

.add_que_bulk li.myupload span {
    width: 100px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
.add_que_bulk li.myupload span input {
    height: 100%;
    cursor: pointer;
}
.add_que_bulk li.myupload span svg {
    cursor: pointer;
}
.notification_dropdown ul {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
}
.notification_dropdown_footer a {
    display: inline-block !important;
    color: #fff !important;
}
.notification_dropdown_footer a:hover {
    color: #0fb2ab !important;
}
.notification_dropdown_footer {
    text-align: center;
}
.media_list li:last-child input {
    width: 100px;
    height: 90px;
}
ul.clearfix.media_list {
    display: inline-block;
}
.scroll_body tbody{
    height: 240px !important;
    overflow: hidden;
    display: inline-block;
    max-height: 240px !important;
    overflow-y: auto;
}
.scroll_body td {
    min-width: 170px;
    max-width:170px ;
}

ul.clearfix.media_list li {
    height: 70px;
    width: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.media_list li img {
    height: auto;
    width: auto;
    max-height: 70px;
}
ul.clearfix.media_list li input {
    height: 70px;
    width: 70px;
    max-height: 70px !important;
    padding-top: 70px;
    cursor: pointer;
}
ul.clearfix.media_list li.myupload svg {
    margin: 0 !important;
    height: 70px;
    width: 70px !important;
    padding: 20px !important;
}
ul.clearfix.media_list li span {
    height: 70px;
    width: 70px;
    display: inline-block;
    line-height: 70px;
}

.show_que_images img {
    max-width: 350px;
}

/* hack for ie browser */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .zoomIn{
    animation-name: none !important;
  }
}

/* responsive css */
@media (min-width:768px){
  
}
@media (max-width: 991px){

}
@media (max-width: 767px){
    .auth_container {
        padding: 25px 0px;
    }
    img.login_logo {
        margin-bottom: 25px;
        max-height: 45px;
    }
    .auth_box {
        padding: 20px;
    }
    .auth_box h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .title {
        font-size: 18px;
    }
    .profile_pic {
        height: 100px;
        width: 100px;
    }
    .profile_pic img {
        max-height: 120px;
    }
    .theme_modal .modal-title {
        font-size: 28px;
    }
    .theme_modal .modal-content .modal-body {
        padding: 40px 15px;
    }

    .sticky_login p {
        width: calc(100% - 50px);
    }
    button.theme_btn.full_width.small_btn {
        width: 100%;
    }
}
@media (max-width: 480px){
  	.auth_box h1 {
        font-size: 24px;
    }
    .theme_modal .modal-title {
        font-size: 22px;
    }
    .notification_dropdown .dropdown-menu {
        right: auto;
        left: -100px;
        width: 290px;
    }

}

.dataTables_length {
padding: 10px 5px 0;
text-align: center;
}
.dataTables_length label {
font-size: 18px;
color: #333;
}
.dataTables_info {
padding: 0 5px;
}
.dataTables_paginate {border: 1px solid #242939;margin: 5px;border-radius: 11px;padding: 0 !important;overflow: hidden;font-size: 0;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
    background-color: #2682df !important;
    color: #fff !important;
    border: 1px solid #2682df !important;
    border-radius: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
border-right: 1px solid #242939 !important;
margin: 0;
font-size: 14px;
border-radius: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
border-right: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
display: inline-block;
height: 100%;
}
.dataTables_length select {
min-width: 30px;
border-radius: 5px;
padding: 2px 5px;
width: auto;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
cursor: no-drop !important;
pointer-events: none;
}

div#content {
    position: relative;
}
#preloader_new {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 238, 0.66);
  z-index: 9999999;
  transition: 0.4s linear;
}
div#status_new {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide_content{
  display: none;
}

/*country code dropdown*/

div#language_drop_down_msdd {
    border: 1px solid #242939 !important;
}
#language_drop_down_msdd #language_drop_down_title {
    background-color: #fff;
    border-radius: 4px;
}
.dd .divider {
    border-left: 1px solid #242939 !important;
}
.dd .arrow:hover {
    background-position: 0 0 !important;
}
.dd .ddChild li {
    margin: 0;
}
.dd .ddChild li.selected {
    background-color: #242939 !important;
    color: #fff;
}
.dd .ddChild li.selected .ddlabel {
    color: #fff;
}
.dd .ddChild li .ddlabel {
    font-size: 16px !important;
}
.dd .ddTitle {
    border-radius: 4px;
}

.custom-drop-down { 
 position: relative;  
 display: inline-block;    
 width: auto;       
 margin-top: 0;   
 font-family: verdana;    
 }      
 .custom-drop-down select {   
 display: none;    
 }      
 .custom-drop-down .select-list {   
 position: absolute;     
 top: 0;      
 left: 0;     
 z-index: 1;    
 margin-top: 40px;    
 padding: 0;         
 background-color: #595959;      
 }      
 .custom-drop-down .select-list li {   
 display: none;      
 }    
 .custom-drop-down .select-list li span {  
 display: inline-block;      
 min-height: 40px;        
 min-width: 280px;      
 width: 100%;        
 padding: 5px 15px 5px 35px;     
 background-color: #595959;     
 background-position: left 10px center;   
 background-repeat: no-repeat;       
 font-size: 16px;       
 text-align: left;       
 color: #FFF;        
 opacity: 0.7;      
 box-sizing: border-box;     
 }     
 .custom-drop-down .select-list li span:hover,  
 .custom-drop-down .select-list li span:focus {     
 opacity: 1;     
 } 


 .custom_flag{
  background-size: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 24px;
  height: 25px;
  background-position: left center;
 }

 .custom-drop-down .button {
    display: inline-flex;
    justify-content: space-between;
    width: 130px;
    border: 1px solid #252a39;
    border-radius: 4px;
    height: auto;
    padding: 0 7px;
    align-items: center;
}

.button {}

.custom-drop-down .button span.custom_flag {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    height: auto;
    border-right: 1px solid #242939;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.custom-drop-down .select-list {
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
    border-radius: 0 0 4px 4px !important;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.custom-drop-down .select-list li span {
    min-width: 130px;
    width: 130px;
    font-size: 16px;
    min-height: 35px;
}

.custom-drop-down .select-list li {
    list-style-type: none;
    margin: 0;
    height: 35px;
    cursor: pointer;
}

.custom-drop-down .select-list li.clsAnchor.active {
    background-color: #252a39;
    opacity: 1;
}

.custom-drop-down .select-list li span {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #c3c3c3;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.custom-drop-down .select-list li.clsAnchor.active span {
    background-color: #252a39 !important;
    opacity: 1;
    color: #fff;
}
.custom-drop-down .select-list li:last-child span {
    border-bottom: none;
}

.custom-drop-down .select-list li.clsAnchor:hover span {
    background-color: #f2f2f2;
}
.custom-drop-down .button span {
    font-size: 16px;
    width: calc(100% - 16px);
}

.flag_box .profile_pic {
    height: 80px;
    width: 110px;
    border-radius: 4px;
}
.flag_box .edit_pencile {
    top: -11px;
    right: -15px;
}
.flag_box .profile_pic img {
    max-height: 80px;
}

.loginas-alert.fade.show {
    position: absolute;
    top: 0;
    z-index: 11111;
    width: 100%;
    border-radius: 0;
    background: #EDEFF2;
    text-align: center;
    font-size: 20px;
    color: #565682;
    border: none;
    font-family: latosb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.loginas-alert.fade.show + .alert-bg {
    display: block;
    z-index: 2222;
    background: rgba(0,0,0,0.50);
    width: 100%;
    height: 100%;
    position: absolute;
}

.no_scroll{
  overflow: hidden;
}

.visibility_hidden {
  visibility: hidden;
}

span.close_spn {
    cursor: pointer;
}

.sch_imgs, .old_sch_imgs{
  display: inline-block;
}

div#add_new {
    z-index: 9999;
}
.square_pic{
    height: 100px;
    width: 200px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 3px solid #565682;
    display: flex;
    box-shadow:  
}
.active_category{
  border:1px solid #0cda39 !important;
}
.border_red{
 border:1px solid red !important; 
}
.live_test_lable{
  font-weight: bold !important;
  font-size: 19px !important;
}
.border-live-test-sol{
  border: 1px solid black;
  padding: 8px;
  border-radius: 6px;
}
.live_test_que_cat{
  background-color: #242939;
  margin: 1px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;  
}
.bold{
  font-weight: bold;
}
.active_option{
  color: green;
  font-weight: bold;
}
.active_button_que{
  background-color:#fff !important;
  color:#0FB2AB !important;
}
.changeStatus {
    color: #3DD4BB;
}
.changeStatus.inactiveClass {
    color: #e7746e;
}
.changeStatus:hover,a.changeStatus.inactiveClass:hover {
    color: #a3a3a3;
}

/*DASHBOARD DESIGN*/
.equal_height {
    box-sizing: border-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.equal_height > .equal_height_container {
    display: flex;
    /*width: 100%;*/
}
.equal_height > .equal_height_container > div{
    width: 100%;
    margin-bottom: 0;
}
/* dashboard design */
.dash_tile {
    box-shadow: 0 0 5px rgba(0,0,0,0.21);
    background-color: #ffffff;
    margin:15px 0px !important;
}
.dash_tile_top {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash_tile_top img {
    max-height: 48px;
    transition: 0.4s linear;
}
.dash_tile_top img.tile_hover_img {
    display: none;
}
.dash_tile_bottom {
    padding: 20px 15px;
    border-radius: 3px;
    background-color: #f6f6f6;
    color: #808080;
    transition: 0.4s linear;
}
.dash_tile_bottom h3 {
    font-size: 22px;
    margin-top: 4px;
}
.dash_tile:hover .dash_tile_top img.tile_img {
    display: none;
}
.dash_tile:hover .dash_tile_top img.tile_hover_img {
    display: inline-block;
}
.dash_tile:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.38);
}
.dash_tile:hover .dash_tile_bottom {
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0,0,0,0.16);
    background-color: #2682df;
    color: #fff;
}
.chart_section{
    margin-top: 50px;
}
@media (min-width: 320px){
    .col-xs-6.equal_height_container {
        ms-flex: 0 0 49.5%;
        flex: 0 0 49.5%;
        max-width: 49.5%;
    }
}
@media (min-width: 768px){
    a.sidebar-toggle {
        display: none;
    }
}
@media (min-width: 992px){
    .col-md-3.equal_height_container {
        ms-flex: 0 0 24.5%;
        flex: 0 0 24.5%;
        max-width: 24.5%;
    }
}
.acc_pri_user_data{
    padding: 6px;
    background: #f7f8fb;
}
.wrong_options{
  font-weight: bold;
  font-size: 20px;
  color: red;
}
.main input:checked ~ .wrong_options {background-color: #ca3b10 !important;}
.wrong_options{border: none;}
.set_green_border{border: 2px solid green !important;}


/*============= QUESTIONS IMAGES ADD PROCESS ================*/
.media_list li video {
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

div#hint_brand .modal-dialog {
    top: 110px;
    width: 567px;
    max-width: 100%
}

li.myupload span {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
}
li.myupload span svg{
    width: 92px !important;
    height: 50px;
    margin-top: 23px;
}


li.myupload span input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

li.myupload span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ccc;
    font-size: 54px
}
.media_list {
    overflow: unset !important;
}

.media_list li {
    float: left;
    border: 1px solid #ccc;
    background: #ccc;
    position: relative;
    margin: 5px 5px 5px 0;
    list-style: none;
}

.media_list li img{
  width: 100px;
  height: 90px;
}

.media_list li:last-child {
  margin-right: 0;
  width: 100px;
  height: 90px;
}

.post-thumb {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none
}

.media_list li:hover .post-thumb {
    display: block
}

.edit-pic {
    position: absolute;
    right: 29px;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 3px 0;
    cursor: pointer;
}
.edit-pic:hover{
     position: absolute;
    right: 29px;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 3px 0;
    cursor: pointer;
}
.edit-pic span input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}


a.remove-pic {
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 8%;
    display: block;
    text-align: center;
    padding: 3px 0;
}

.inner-post-thumb {
        border: 1px solid #fff;
    position: absolute;
    right: 6px;
    width: 54px;
    height: 24px;
    top: 6px;
    border-radius: 4px;
}
}

.user-post-text-wrap {
    position: relative
}

.user-pic-post {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0
}

.user-pic-post img {
    width: 100%
}

.user-txt-post {
    padding: 0 0 0 65px
}


/*IMAGE MEDIA*/

.imagemediaGallery img{
    min-width: 60px;
    object-fit: scale-down;
    max-width: 80px;
    margin: 7px 8px;
}

.imagemediaShow{
     min-width: 80px;
    object-fit: scale-down;
    max-width: 80px;
        min-height: 85px;
    max-height: 85px;
}

.imagemediaShowmap{
    height: 70px;
    object-fit: scale-down;
    border-radius: 50%;
}
.grey-border{
  border-radius: 5px;
  border:1px solid #80808057;
}
.input-height-small{
  height: 24px !important;
}
.border-1{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 8px 6px -6px black;
}
.appli-doc-download-img{
    position: relative;
    
}
.addmore-date-btn{    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
}
.so_addmore-date-btn{    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
}
.border-2{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.remove-addmorerooms{
    position: absolute;
    top: 0;
    right: 10px;
}
.capitalize{
    text-transform: capitalize;
}
.show-uploaded-img{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center;
    margin: 5px;
}
.show-uploaded-img img{
    height: 160px;
    width: auto;
}
.show-uploaded-img button{
    line-height: 20px;
    position: absolute;
    top: 5px;
    right: 15px;
}

.suggest {
    width: 100%;
    max-height: 85px;
    overflow: auto;
    list-style: none;
    background: #f5f7ff;
    position: relative;
    top: -16px;
    padding: 1px !important;
    font-size: 14px;
    color: darkcyan;
}
.suggest li{
    border: 1px solid #c9c9ca26;
    cursor: pointer;
    padding-left: 4px;
}
.suggest li:hover{
    background-color: #fff;
}

.search-scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}

.search-scrollbar::-webkit-scrollbar
{
    width: 6px;
    background-color: #fff;
}

.search-scrollbar::-webkit-scrollbar-thumb
{
    background-color: #5654b1;
}